Source: openrc
Section: admin
Priority: extra
Maintainer: Roger Leigh <rleigh@debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.gentoo.org/proj/en/base/openrc/
Vcs-Git: git://anonscm.debian.org/collab-maint/openrc.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/openrc.git;a=summary

Package: openrc
Architecture: any
Conflicts: sysv-rc
Replaces: sysv-rc
Provides: sysv-rc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dependency based init system (runlevel change mechanism)
 OpenRC is a dependency based init system. It provides support for System V
 init, for booting, changing runlevels, starting and stopping services, and
 shutting down.
 .
 Originally written as a Gentoo project, OpenRC is 100% compatible
 with Gentoo init scripts. OpenRC, however, is not exclusively used by
 Gentoo Linux, and aims at being platform-agnostic, and supporting the
 old style init system historically available in Debian.
 .
 This package provides the runlevel change mechanism.

Package: openrc-dbg
Architecture: any
Section: debug
Depends: openrc (= ${binary:Version}), ${misc:Depends}
Description: dependency based init system (runlevel change mechanism) - debug
 OpenRC is a dependency based init system. It provides support for System V
 init, for booting, changing runlevels, starting and stopping services, and
 shutting down.
 .
 Originally written as a Gentoo project, OpenRC is 100% compatible
 with Gentoo init scripts. OpenRC, however, is not exclusively used by
 Gentoo Linux, and aims at being platform-agnostic, and supporting the
 old style init system historically available in Debian.
 .
 This package contains the debugging symbols for OpenRC.

Package: librc1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dependency based init system (runtime library)
 OpenRC is a dependency based init system. It provides support for System V
 init, for booting, changing runlevels, starting and stopping services, and
 shutting down.
 .
 Originally written as Originally written as a Gentoo project, OpenRC is 100%
 compatible with Gentoo init scripts. OpenRC, however, is not exclusively used
 by Gentoo Linux, and aims at being platform-agnostic, and supporting the old
 style init system historically available in Debian.
 .
 This package provides the runtime library.

Package: librc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dependency based init system (runtime development)
 OpenRC is a dependency based init system. It provides support for System V
 init, for booting, changing runlevels, starting and stopping services, and
 shutting down.
 .
 Originally written as Originally written as a Gentoo project, OpenRC is 100%
 compatible with Gentoo init scripts. OpenRC, however, is not exclusively used
 by Gentoo Linux, and aims at being platform-agnostic, and supporting the old
 style init system historically available in Debian.
 .

Package: libeinfo1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dependency based init system (pretty console display library)
 OpenRC is a dependency based init system. It provides support for System V
 init, for booting, changing runlevels, starting and stopping services, and
 shutting down.
 .
 Originally written as Originally written as a Gentoo project, OpenRC is 100%
 compatible with Gentoo init scripts. OpenRC, however, is not exclusively used
 by Gentoo Linux, and aims at being platform-agnostic, and supporting the old
 style init system historically available in Debian.
 .
 This package provides a runtime library that supports displaying messages on
 the console.

Package: libeinfo-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dependency based init system (pretty control display development)
 OpenRC is a dependency based init system. It provides support for System V
 init, for booting, changing runlevels, starting and stopping services, and
 shutting down.
 .
 Originally written as Originally written as a Gentoo project, OpenRC is 100%
 compatible with Gentoo init scripts. OpenRC, however, is not exclusively used
 by Gentoo Linux, and aims at being platform-agnostic, and supporting the old
 style init system historically available in Debian.
 .
 This package provides a development library that supports displaying messages
 on the console.
